<footer>
    <hr />
    <div class="container">
        <div class="social-media text-center py-2">
            <a class="social-media-link" href="https://facebook.com"><img src="Images/fb.svg" /></a>
            <a class="social-media-link" href="https://instagram.com"><img src="Images/insta.svg" /></a>
            <a class="social-media-link" href="https://twitter.com"><img src="Images/twitter.svg" /></a>
            <a class="social-media-link" href="https://linkedin.com"><img src="Images/google.svg" /></a>
            <a class="social-media-link" href="https://google.com"><img src="Images/linkedin.svg" /></a>
        </div>

        <div class="company-cw text-center">
            <p>© 2022 Fixxo. All Rights Reserved</p>
        </div>
    </div>
</footer>
