.card {
    border: none;
}

.card-img-top {
    height: 210px;
    width: 255px
}

.category {
    font-size: 13px;
    font-weight: 500;
    color: #616365;
}

.product-name {
    font-size: 16px;
    font-weight: 600;
    color: #23262A;
}

.rating {
    color: #FF7373;
}

.price {
    font-size: 18px;
    font-weight: 600;
    color: #23262A;
}

.product-line-height {
    margin-bottom: 5px;
}
