@for (int i = 0; i < 5; i++)
{
    <div class="rating-stars">
        @if(i < @Rating)
        {
            <img src="Images/red-star.svg">
        }
        else
        {
            <img src="Images/grey-star.svg">
        }
    </div>
}

@code {
    [Parameter]
    public int Rating { get; set; }
}
